# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
/venv/

# IDE specific files
.idea/

# Log files
*.log

# Temporary files
*.swp

# Alembic configuration
alembic.ini
alembic/env.py

# Alembic migration scripts (keep the directory, but not individual files)
