.App {
  text-align: center;
  height: 100vh;
}
.modal-content {
  background-color: rgba(0, 4, 41, 0.9) !important;
}
.CreateReservation {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.date-time {
  color: #ffffff !important;
}