.react-datetime-picker {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
